<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Document</title>
</head>
<body>
    <form class="edit2" action="/?_method=PUT" method="POST">
        <input type="text" name="title" value="<%= oks.title %>" placeholder="title" required autocomplete="off" >
        <input type="text" name="firstName" value="<%= oks.firstName %>" placeholder="firstName" required autocomplete="off">
        <input type="text" name="lastName" value="<%= oks.lastName%>" placeholder="lastName" required autocomplete="off">
        <button type="submit">Change</button>
    </form>
</body>
</html>